$fontAnybody: "Anybody";
$fontInter: "Inter";
$fontMulish: "Mulish";
$fontWorksans: "Work Sans";
$max-width-homepage: 100%;
$primary-green: #20A049;
$primary-green-10:#E1FAE4;
$primary-coral-50: #EA6B39;
$primary-coral-80: #CE6035;
$primary-coral-10: #FDE5DB;
$primary-green-80: #04150A;
$dark-01: #323338;
$dark-02:  #535959;
$dark-03: #9AA0A0;
$light-02: #E6E9EF;
$light-04: #FAFAFC;
$dark-04: #E0E0E0;
$dark-blue-01: #060810;
$footer-color: #DDE1E6;
$footer-background-color: #060810;
$state-warning-01: #F5AF0B;
$closemodal: #EA6B39;
$closemodalborder: #F1553B;
$state-success-04: #57EBA1;
$padding: 0 50px;
$image-slide-button-left: 120px;