@import "font";
@import "variable";
@import "mixin";

[lang=en] [lang=vi],
[lang=vi] [lang=en]
/* [lang=fr-FR] [lang=en-GB],
[lang=fr-FR] [lang=ja-JP],
[lang=ja-JP] [lang=en-GB],
[lang=ja-JP] [lang=fr-FR] */
{
    display: none !important;
}
img{
    width: 100%;
    height: auto;
}
body{
    box-sizing: border-box;
}
input,button,textarea{
    border: none;
}


// top
.top{
    @include font($fontJost);
    color: $light-04;
    max-width: $max-width-homepage;
    height: 56px;
    margin: auto;
    background-color: $primary-green;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-size: 16px;
    padding: $padding;
    p{
        display: inline-block;
        transition: 0.3s;
        &:hover{
            color: $dark-blue-01;
            cursor: pointer;
        }
    }
    .left{
        // width: 172px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        img{
            width: 28px;
            height: 25px;
        }
        p{
            margin-left: 10px;
            margin-right: 20px;
        }
    }
    .right{
        // width: 197px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        img{
            width: 24px;
            height: 24px;
            margin-left: 20px;
        }
    }
}
@keyframes navsticky {
    0%{opacity: 0;transform: translate3d(0,-20px,0);}
    100%{opacity: 1;transform: none;}
}
@keyframes nav-dropdown-in{
    0%{top:80px;opacity: 0;}
    100%{top: 20px;opacity: 1;}
  }
.nav-sticky{
    animation: navsticky 0.5s;
    transition: transform 0.4s;
}
nav{
    position: sticky;
    top: 0;
    z-index: 3;
    @include font($fontCourgette);
    color: black;
    max-width: $max-width-homepage;
    margin: auto;
    background-color: #FAFAFC;
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        padding: $padding;
        .left{
            flex: 1;
            img{
                width: 45px;
                height: 51px;
            }
        }
        .center{
            flex: 7;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    float: left;
                    margin-left: 60px;
                    position: relative;
                    a{
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        h6{
                            margin: 0;
                            padding: 0;
                            font-weight: bold;
                            font-size: 20px;
                            font-weight:600;
                            img{
                                width: 14px;
                                height: 7px;
                                margin-left: 22px;
                                color: $primary-green;
                            }
                        }
                        &:hover{
                            color: $primary-green;
                        } 
                    }
                    .menu-dropdown
                    {
                        display: none;
                        position: absolute;
                        background-color: white;
                        padding: 20px;
                        top:20px;
                        left: -20px;
                        border-bottom: 5px solid $primary-green;
                        .menu-dropdown-item
                        {
                            .menu-dropdown-item-content{
                                cursor: pointer;
                                a{
                                    .img-language{
                                        width: 20px;
                                        height: 20px;
                                        margin-right: 10px;
                                       
                                    }
                                    padding: 5px;
                                    font-size: small;
                                    &:hover{
                                        background-color: $dark-04;
                                        font-weight: bold;
                                        color: $dark-blue-01;
                                    }
                                }
                            }
                        }
                    }
                    &:hover .menu-dropdown{
                        display: flex;
                        flex-direction: row;
                        column-gap: 20px;
                        animation: nav-dropdown-in 0.6s;
                    }
                }
            }
        }
        .right{
            display: none;
            img{
                width: 24px;
                height: 16px;
                margin-left: 16px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .menu{
            display: none;
            a{
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .offcanvas{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .offcanvas-header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                row-gap: 35px;
                padding: 20px 40px;
                img{
                    width: 45px;
                    height: 51px;
                }
                div{
                    img{
                        width: 30px;
                        height: 30px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
            .offcanvas-header-bottom{
                height: 404px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                a{
                    display: block;
                    text-decoration: none;
                    &:first-of-type{
                        color: $primary-green;
                    }
                    h5{
                        @include font($fontCourgette);
                        transition: 0.3s;
                        color: $dark-blue-01;
                        font-weight: bold;
                    }
                    &:hover{
                        h5{
                            color: $primary-green;
                        }
                    }
                }
                .language{
                    width: 128px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 16px;
                    border-radius: 0;
                    img{
                        width: 36px;
                        height: 24px;
                        border-radius: 0;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }
    }
  
}



// img
.img {
	position: relative;
    @include font($fontJost);
}
.img-wrap {
    @keyframes imgwrap {
        0% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }
	position: relative;
	animation: imgwrap 4s;
	img {
		width: 100%;
		height: auto;
        min-height: 250px;
        max-height: 800px;
	}
}
.img-nav {
	position: absolute;
	right: 1%;
	height: 100px;
	width: 20px;
	z-index: 1;
	top: 50%;
	transform: translate(-50%,-50%);
	a{
		display: block;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		margin-top: 20px;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
	}
}
.img-text {
    @keyframes imgtextp {
        0% {
            top: 30%;
        }
        100% {
            top: 0;
        }
    }
	position: absolute;
	height: 40%;
    left: 140px;
	top: 40%;
	transform: translate(0,-70%);
	p {
		position: absolute;
		top: 0;
		font-size: 20px;
		margin: 0;
		width: 500px;
		animation: imgtextp 1s;
        color: white;
	}
	h1 {
		font-size: 100px;
		margin: 0;
		font-weight: 400;
        @include font($fontCourgette);
        color: white;
	}
	a {
        @keyframes imgtexta {
            0% {
                top: 150%;
            }
            100% {
                top: 90%;
            }
        }
		font-size: 15px;
		padding: 12px 30px;
		border: 1px solid black;
		border-radius: 5px;
		display: inline-block;
		position: absolute;
		width: 150px;
        text-align: center;
		top: 90%;
		animation: imgtexta 3s;
        transition: .5s;
        text-decoration: none;
        color: white;
        margin-top: 20px;
        background-color: black;
		&:hover {
			background-color: $primary-green;
			color: white;
            border: none;
		}
	}
}
.img-text-h1 {
    @keyframes imgtexth1 {
        0% {
            display: block;
            top: 70%;
        }
        100% {
            display: block;
            top: 15%;
        }
    }
	position: absolute;
	top: 15%;
	animation: imgtexth1 3s;
	width: 800px;
   
}
.img-text-recotton {
    @keyframes imgtextrecotton {
        0% {
            left: 70%;
        }
        100% {
            left: 80%;
        }
    }
	position: absolute;
	top: 90%;
	left: 80%;
	font-size: 18px;
	animation: imgtextrecotton 3s;
	>p {
		display: inline-block;
		margin-right: 10px;
        color: white;
	}
	a {
		border-bottom: 2px solid black;
		font-weight: 500;
		margin-left: 5px;
        font-size: 16px;
        text-decoration: none;
        color: black;
        &:hover{
            color: black;
        }
	}
}


// content-ourservices
.content-ourservices{
    max-width: $max-width-homepage;
    margin: auto;
    padding: $padding;
    padding-top: 80px;
    padding-bottom: 80px;
    .content-ourservices-top{
       @include content-top;
    }
    .content-ourservices-bottom{
        display: flex;
        column-gap: 32px;
        margin-top: 140px;
        align-items: center;
        justify-content: center;
        .item{
            width: 389px;
            position: relative;
            height: 424px;
            transition: 1s;
            box-shadow: 0px 10px 30px 0px rgba(153,153,153,0.2);
            @include ourservice-item;
            div{
                padding-top: 90px;
            }
        }
    }
}

// animate number
#section-counter{
    position: relative;
    z-index: -1; 
    height: 256px;
    // min-height: 206px;
    max-width: $max-width-homepage ;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ftco-counter {
    display: flex;
    align-items: center;
    .container{
        display: flex;
        // column-gap: 16px;
        justify-content: space-between;
        align-items: flex-start;
        .item{
            // height: 110px;
            // width: 313px;
            .text{
                text-align: center;
                @include font($fontJost);
                strong.number {
                    font-weight: bold;
                    font-size: 40px;
                    color: $primary-green;
                    display: block;
                    &::after{
                        content: "+";
                        font-weight: bold;
                        font-size: 60px;
                    }
                }
                h5 {
                    display: block;
                    font-size: 16px;
                    color: $dark-04;
                }
            }
        }
    }
   
}

// aboutus
.aboutus{
    position: relative;
    @include font($fontCourgette);
    z-index: -1; 
    // height: 700px;
    // min-height: 206px;
    max-width: $max-width-homepage;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 70px;
    background-position: right;
    background-size: contain;
    .container{
        display: flex;
        .item1{
            width: 60%;
            // padding-right: 180px;
            text-align: justify;
            h4{
                color: $primary-green;
                font-size: 28px;
            }
            h1{
                margin-top: 20px;
                font-weight: 600;
            }
            p{
                margin-top: 30px;
                font-size: 20px;
                @include font($fontJost);
            }
        }
        .item2{
            width: 40%;
        }
    }
}

// reviews
.reviews{
    max-width: $max-width-homepage;
    margin: auto;
    padding: $padding;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    @include font($fontCourgette);
    h4{
        color: $primary-green;
        font-size: 28px;
    }
    h1{
        margin-top: 20px;
        font-weight: 600;
    }
    .reviews-content{
        margin-top: 80px;
        .carousel-item-wrap{
            // display: flex;
            // justify-content: space-evenly;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            column-gap: 50px;
            padding: 0 50px;
            .item{
                max-width: 304px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;
                text-align: center;
                box-shadow: 0px 10px 30px 0px rgba(153,153,153,0.2);
                div{
                    width: 129px;
                    height: 129px;
                    position: relative;
                    margin: auto;
                    img{
                        width: 100%;
                        height: 100%;
                        margin: auto;
                    }
                    .quote{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 51px;
                        height: 51px;
                    }
                }
                
                p{
                    @include font($fontJost);
                    &:first-of-type{
                        font-size: small;
                        color: $dark-02;
                        margin-top: 20px;
                    }
                    &:last-of-type{
                        font-size: 15px;
                        color: $dark-02;
                        margin-top: 20px;
                    }
                }
                a{
                    width: 9px;
                    height: 9px;
                    background-color: $dark-01;
                    margin: auto;
                    border-radius: 50%;
                }
                h6{
                    @include font($fontCourgette);
                    font-weight: bold;
                    color: $dark-blue-01;
                    margin-top: 20px;
                }
            }
        }

    }
}

// clients
.owl-carousel-container{
    max-width: $max-width-homepage;
    margin: auto;
    padding: $padding;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    @include font($fontCourgette);
    color: $primary-green;
    h4{
        font-size: 30px;
        margin-bottom: 20px;    
    }
    h1{
        margin-bottom: 40px;
        color: black;
        font-size: 40px;
        font-weight: 600;
    }
    .owl-carousel{
        padding: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        .item{
            // width: 250px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                max-width: 200px;
                height: auto;
                filter: grayscale(100%);
                user-select: none;
                &:hover{
                    cursor: pointer;
                    filter: grayscale(0);
                }
            }
        }
    }
}

// contact
.contact{
    max-width: 1400px;
    margin: auto;
    padding: $padding; 
    padding-bottom: 80px;
    padding-top: 80px;
    @include font($fontCourgette);
    h4{
        color: $primary-green;
        font-size: 28px;
        text-align: center; 
    }
    h1{
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
    }
    .contact-content{
        display: flex;
        column-gap: 20px;
        margin-top: 60px;
        .item1{
            width: 40%;
            .item{
                height: 116px;
                max-width: 380px;
                display: flex;
                justify-content: flex-start;
                column-gap: 10px;
                img{
                    width: 24px;
                    height: 24px;
                }
                .text{
                    h5{
                        @include font($fontCourgette);
                        font-weight: bold;
                        color: $primary-green;
                    }
                    h6{
                        @include font($fontJost);
                        font-size: 17px;
                    }
                    #res{
                        display: none;
                    }
                }
            }
        }
        .item2{
            width: 60%;
            .content-getintouch-center{
                width: 100%;
                input{
                    border-radius: 4px;
                    padding-left: 16px;
                    height: 48px;
                    border: 1px solid $dark-03;
                    &:focus{
                        border: 1px solid $primary-green;
                        outline: 1px solid $primary-green;
                    }
                }
                .getintouch-item1{
                    display: flex;
                    column-gap: 24px;
                    justify-content: space-between;
                    width: 100%;
                    input{
                        flex: 1;
                    }
                }
                .getintouch-item2{
                    margin-top: 20px;
                    width: 100%;
                    input{
                       display: block;
                        width: 100%;
                    }
                }
                .getintouch-item3{
                    margin-top: 20px;
                    textarea{
                        width: 100%;
                        height: 164px;
                        border-radius: 4px;
                        resize: none;
                        padding-left: 16px;
                        padding-top: 12px;
                        border: 1px solid $dark-03;
                        &:focus{
                            border: 1px solid $primary-green;
                            outline: 1px solid $primary-green;
                        }
                    }
                }
            }
            .content-getintouch-bottom{
                display: flex;
                justify-content: center;
                button{
                    margin-top: 41px;
                    height: 59px;
                    background-color: $primary-green;
                    width: 181px;
                    color: #fff;
                    @include font($fontCourgette);
                    font-size: 18px;
                    border-radius: 6px;
                    transition: 0.5s;
                    &:hover{
                        background-color: black;
                    }
                    img{
                        width: 14px;
                        height: 13px;
                    }
                }
            }
        }
    }
}

// maps
.maps{
    height: 400px;
    #googleMap{
        width: 100%;
        height: 100%;
    }
}


#scrolltop{
    img{
        width: 48px;
        height: 48px;
    }
    &:hover{
        cursor: pointer;
      }
}
.scrolltop-show{
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 60px;
    height: 60px;
    animation: navsticky 0.8s;
    transition: transform 0.4s;
}

@media screen and (max-width:1700px){
    .img{
        .img-wrap{
            .img-text {
                left: 40px;
            }
           
        }
    }
    .reviews{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width:1399px){
    .img{
        .img-wrap{
            @keyframes imgtextrecotton{
                0%{left:65%}
                100%{left:75%}
              }
            .img-text-recotton{
                left: 75%;
            }
        }
    }
    .owl-carousel-container{
        padding-left: 20px;
        padding-right: 20px;
        .owl-carousel{
            padding: 30px;
            // padding-left: 100px;
        }
    }
}
@media screen and (max-width:1350px){
    .reviews{
        .reviews-content{
            .carousel-item-wrap{
                grid-template-columns: auto auto;
                #reviews-res{
                    display: none;
                }
            }
            
        }
    }
}
@media screen and (max-width:1320px){
    nav{
        .row{
            .center{
                ul{
                    li{
                        margin-left: 45px;
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width:1199px){
    nav{
        .row{
            .center{
                ul{
                    li{
                        margin-left: 35px;
                        a{
                            h6{
                                
                                img{
                                    margin-left: 8px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
       
    }
    .img{
        .img-wrap{
            .img-text {
                .img-text-h1 {
                    h1{
                        font-size: 90px;
                    }
                } 
                a{
                    width: 120px;
                    padding: 10px 15px;
                }
            }
            @keyframes imgtextrecotton{
                0%{left:60%}
                100%{left:70%}
              }
            .img-text-recotton{
                left: 70%;
            }
           
        }
    }

    .ftco-counter{
        .container{
            column-gap: 15px;
        }
    }
   
}
@media screen and (max-width:1123px){
    .content-ourservices{
        .content-ourservices-bottom{
            margin-top: 210px;
        }
    }
}
@media screen and (max-width:1100px){
    footer{
        .footer-top{
            display: block;
            .item2{
               margin-top:60px;
               .quicklinks{
                .content{
                    .app{
                        width: 30%;
                    }
                }
               }
            }
        }
    }
    .aboutus{
        background-size: cover;
        .container{
            flex-direction: column;
            .item1{
                width: 100%;
                padding-left: 70px;
                padding-right: 110px;
                h1{
                    width: 100%;
                    text-align: center;
                }
                h4{
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width:991px){
    .top{
        display: none;
    }
    nav{
        .row{
            padding-left: 30px;
            padding-right: 30px;
            .center{
                justify-content: center;
                ul{
                    li{
                        margin-left: 30px;
                        a{
                            h6{
                                font-size: 18px;
                                img{
                                    display: none;
                                }
                            }
                            
                        }
                        &:hover .menu-dropdown{
                            display: none;
                        }
                    }
                }
            }
            .right{
                display: inline;
                flex: 1;
                img{
                    margin-left: 5px;
                }
            }
        }
       
    }
    .img{
        .img-wrap{
            .img-text {
                .img-text-h1 {
                    margin-top: 10px;
                    h1{
                        font-size: 70px;
                    }
                } 
                a{
                    margin-top: -20px;
                    width: 100px;
                    padding: 10px 15px;
                }
            }
            @keyframes imgtextrecotton{
                0%{left:52%}
                100%{left:62%}
              }
            .img-text-recotton{
                top: 85%;
                left: 62%;
            }
        }
    }
    .content-ourservices{
        .content-ourservices-top{
            p{
               &:last-of-type{
                font-size: 32px;
               }
            }
        }
        .content-ourservices-bottom{
           flex-direction: column; 
            row-gap: 50px;
           margin-top: 100px;
        }
    }
    .ftco-counter{
        .container{
            justify-content: space-around;
        }
    }
}
@media screen and (max-width:935px){
    nav{
        .row{
            .center,.right{
                display: none;
            }
            justify-content: space-between;
            .menu{
                display: inline-block;
                text-align: right;
                a{
                    &:hover{
                        cursor: pointer;
                    }
                    img{
                        color: $dark-blue-01;
                        font-size: large;
                    }
                }
            }
        }  
    }
    .img{
        .img-wrap{
            .img-text {
                a{
                    margin-top: 15px;
                }
            }
        }
    }
    .contact{
        padding-left: 30px;
        padding-right: 30px;
        .contact-content{
            flex-direction: column;
            .item1{
                margin-top: 20px;
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                justify-content: center;
                column-gap: 20px;
            }
            .item2{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:922px){
    .content-ourservices{
        .content-ourservices-bottom{
           margin-top: 140px;
        }
    }
    .reviews{
        .reviews-content{
            .carousel-item-wrap{
                grid-template-columns: auto;
                #reviews-res{
                    display: none;
                }
            }
            
        }
    }  
}

@media screen and (max-width:859px){
    .img{
        .img-wrap{
            .img-text {
                .img-text-h1 {
                    width: 400px;
                } 
                
            }
        }
    }
}
@media screen and (max-width:840px){
    #section-counter{
        height: 560px;
    }
    .ftco-counter{
        .container{
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    .aboutus{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width:790px) {
    .contact{
        .contact-content{
            .item1{
                display: block;
                .item{
                    &:last-of-type{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:767px){
    .img{
        .img-wrap{
            .img-text {
                p{
                    font-size: 16px;
                }
                .img-text-h1 {
                    margin-top: 10px;
                    width: 350px;
                    h1{
                        font-size: 50px;
                    }
                } 
                a{
                    width: 100px;
                    padding: 5px 10px;
                    font-size: 15px;
                }
            }
            @keyframes imgtextrecotton{
                0%{left:52%}
                100%{left:62%}
              }
            .img-text-recotton{
                font-size: 15px;
                top: 85%;
                left: 62%;
                a{
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (max-width:747px){
    .content-ourservices{
        .content-ourservices-bottom{
            margin-top: 210px;
        }
    }
}
@media screen and (max-width:635px){
    .content-ourservices{
        .content-ourservices-bottom{
            margin-top: 240px;
        }
    }
}

@media screen and (max-width:600px) {
    .img{
        .img-wrap{
            .img-text {
                p{
                    font-size: 16px;
                }
                .img-text-h1 {
                    margin-top: 10px;
                    h1{
                        font-size: 40px;
                    }
                } 
                a{
                    margin-top: 20px;
                    width: 100px;
                    padding: 5px 5px;
                    font-size: 12px;
                }
            }
            @keyframes imgtextrecotton{
                0%{left:42%}
                100%{left:52%}
              }
            .img-text-recotton{
                top: 85%;
                left: 52%;
            }
        }
    }
    
}
@media screen and (max-width:575px){
    nav{
        .row{
            padding: 0 10px;
        }
    }
    .image-slide{
        .slide-button{
            left: 30%;
        }
    }
    .content-ourservices{
        .content-ourservices-top{
            p{
               &:last-of-type{
                font-size: 25px;
               }
            }
        }
        .content-ourservices-bottom{
            margin-top: 130px;
        }
    }
}
@media screen and (max-width:557px){
    .img{
        .img-wrap{
            .img-text {
                p{
                   width: 370px;
                }
            
            }
        }
    }
    .owl-carousel-container{
        padding-left: 20px;
        padding-right: 20px;
        .owl-carousel{
            padding: 30px;
            // padding-left: 40px;
        }
    }
}
@media screen and (max-width:521px){
    .content-ourservices{
        .content-ourservices-bottom{
            margin-top: 180px;
        }
    }
}
@media screen and (max-width:500px){
    .img{
        .img-wrap{
            .img-text-recotton{
               display: none;
            }
            .img-text {
                p{
                   width: 200px;
                }
                .img-text-h1{
                    top: 35%;
                    width: 300px;
                }
            }
            @keyframes imgtexth1 {
                0% {
                    display: block;
                    top: 80%;
                }
                100% {
                    display: block;
                    top: 35%;
                }
            }
          
        }
    }
   
   
}
@media screen and (max-width:450px){
    .content-ourservices{
        .content-ourservices-bottom{
            .item{
                width: 350px;
                padding: 5px;
            }
        }
    }
  
    .contact{
        .contact-content{
            .item2{
                .content-getintouch-center{
                    .getintouch-item1{
                        display: block;
                        input{
                            width: 100%;
                            &:last-of-type{
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }  
    
}
@media screen and (max-width:412px){
    .content-ourservices{
        .content-ourservices-bottom{
            margin-top: 280px;
        }
    }
}
@media screen and (max-width:400px) {
    .img{
        .img-wrap{
            .img-text {
                p{
                    font-size: 16px;
                }
                .img-text-h1 {
                    margin-top: 15px;
                    width: 200px;
                    h1{
                        font-size: 30px;
                    }
                } 
                a{
                    margin-top: 20px;
                    width: 80px;
                    padding: 3px;
                    font-size: 12px;
                }
            }
           
        }
    }    
}
@media screen and (max-width:380px){
    .content-ourservices{
        .content-ourservices-bottom{
            .item{
                width: 280px;
                padding: 5px;
            }
        }
    }
   
}
@media screen and (max-width:360px){
    .img{
        .img-wrap{
            .img-text{
                @keyframes imgtexth1{
                    0% {
                        display: block;
                        top: 90%;
                    }
                    100% {
                        display: block;
                        top: 50%;
                    }
                }
                .img-text-h1{
                    margin-top: 8px;
                    top: 50%;
                    width: 150px;
                    h1{
                        font-size: 25px;
                    }
                }
            }
           
        }
    }
    .content-ourservices{
        .content-ourservices-bottom{
           margin-top: 340px;
        }
    }
    .contact{
        .contact-content{
            .item1{
                .item{
                    .text{
                        #nores{
                            display: none;
                        }
                        #res{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:314px){
    .content-ourservices{
        .content-ourservices-bottom{
           margin-top: 400px;
        }
    }
}


